In [1]:
import pandas as pd
import sweetviz as sv
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
import matplotlib.pyplot as plt
warnings.filterwarnings('ignore')

In [2]:
pd.pandas.set_option('display.max_columns',None) 
df = pd.read_csv('allyears2k.csv')

copy_df = df.copy()

In [3]:
analyze_report = sv.analyze([copy_df, 'DATAFRAME'],target_feat='ArrDelay')
analyze_report.show_html('analyze.html',open_browser=True)

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=32.0), HTML(value='')), layout=Layout(dis…

Report analyze.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

In [4]:
copy_df.head(10)

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,ActualElapsedTime,CRSElapsedTime,AirTime,ArrDelay,DepDelay,Origin,Dest,Distance,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay,IsArrDelayed,IsDepDelayed
0,1987,10,14,3,741.0,730,912.0,849,PS,1451,NaN,91.0,79.0,NaN,23.0,11.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,YES,YES
1,1987,10,15,4,729.0,730,903.0,849,PS,1451,NaN,94.0,79.0,NaN,14.0,-1.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,YES,NO
2,1987,10,17,6,741.0,730,918.0,849,PS,1451,NaN,97.0,79.0,NaN,29.0,11.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,YES,YES
3,1987,10,18,7,729.0,730,847.0,849,PS,1451,NaN,78.0,79.0,NaN,-2.0,-1.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NO,NO
4,1987,10,19,1,749.0,730,922.0,849,PS,1451,NaN,93.0,79.0,NaN,33.0,19.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,YES,YES
5,1987,10,21,3,728.0,730,848.0,849,PS,1451,NaN,80.0,79.0,NaN,-1.0,-2.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,NO,NO
6,1987,10,22,4,728.0,730,852.0,849,PS,1451,NaN,84.0,79.0,NaN,3.0,-2.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,YES,NO
7,1987,10,23,5,731.0,730,902.0,849,PS,1451,NaN,91.0,79.0,NaN,13.0,1.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,YES,YES
8,1987,10,24,6,744.0,730,908.0,849,PS,1451,NaN,84.0,79.0,NaN,19.0,14.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,YES,YES
9,1987,10,25,7,729.0,730,851.0,849,PS,1451,NaN,82.0,79.0,NaN,2.0,-1.0,SAN,SFO,447.0,NaN,NaN,0,NaN,0,NaN,NaN,NaN,NaN,NaN,YES,NO

In [5]:
copy_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43978 entries, 0 to 43977
Data columns (total 31 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               43978 non-null  int64
 1   Month              43978 non-null  int64
 2   DayofMonth         43978 non-null  int64
 3   DayOfWeek          43978 non-null  int64
 4   DepTime            42892 non-null  float64
 5   CRSDepTime         43978 non-null  int64
 6   ArrTime            42783 non-null  float64
 7   CRSArrTime         43978 non-null  int64
 8   UniqueCarrier      43978 non-null  object
 9   FlightNum          43978 non-null  int64
 10  TailNum            27954 non-null  object
 11  ActualElapsedTime  42783 non-null  float64
 12  CRSElapsedTime     43965 non-null  float64
 13  AirTime            27329 non-null  float64
 14  ArrDelay           42783 non-null  float64
 15  DepDelay           42892 non-null  float64
 16  Origin             43978 non-null  object
 17  Dest               43978 non-null  object
 18  Distance           43943 non-null  float64
 19  TaxiIn             27952 non-null  float64
 20  TaxiOut            27954 non-null  float64
 21  Cancelled          43978 non-null  int64
 22  CancellationCode   221 non-null    object
 23  Diverted           43978 non-null  int64
 24  CarrierDelay       8933 non-null   float64
 25  WeatherDelay       8933 non-null   float64
 26  NASDelay           8933 non-null   float64
 27  SecurityDelay      8933 non-null   float64
 28  LateAircraftDelay  8933 non-null   float64
 29  IsArrDelayed       43978 non-null  object
 30  IsDepDelayed       43978 non-null  object
dtypes: float64(15), int64(9), object(7)
memory usage: 10.4+ MB

# EDA

# Missing values

In [6]:
copy_df['DepTime'] = copy_df['DepTime'].fillna(method='ffill')
copy_df['ArrTime'] = copy_df['ArrTime'].fillna(method='ffill')
copy_df['TailNum'] = copy_df['TailNum'].fillna(method='ffill')
copy_df.drop('TailNum', inplace=True, axis=1)
copy_df['ActualElapsedTime'] = copy_df['ActualElapsedTime'].fillna(method='ffill')
copy_df['ArrDelay'] = copy_df['ArrDelay'].fillna(method='ffill')
copy_df['CRSElapsedTime'] = copy_df['CRSElapsedTime'].fillna(method='ffill')
copy_df['AirTime'] = copy_df['AirTime'].fillna(method='backfill')
copy_df['DepDelay'] = copy_df['DepDelay'].fillna(method='ffill')
copy_df['Distance'] = copy_df['Distance'].fillna(method='ffill')
copy_df['TaxiIn'] = copy_df['TaxiIn'].fillna(method='backfill')
copy_df['TaxiOut'] = copy_df['TaxiOut'].fillna(method='backfill')
copy_df.drop('CancellationCode', inplace=True, axis=1)
copy_df.drop('CarrierDelay', inplace=True, axis=1)
copy_df.drop('WeatherDelay', inplace=True, axis=1)
copy_df.drop('NASDelay', inplace=True, axis=1)
copy_df.drop('SecurityDelay', inplace=True, axis=1)
copy_df.drop('LateAircraftDelay', inplace=True, axis=1)

# Encoding categorical variables

In [7]:
from sklearn.preprocessing import LabelEncoder

lbl_encode = LabelEncoder()

copy_df['Dest'] = lbl_encode.fit_transform(copy_df['Dest'])
copy_df['Origin'] = lbl_encode.fit_transform(copy_df['Origin'])
copy_df['UniqueCarrier'] = lbl_encode.fit_transform(copy_df['UniqueCarrier'])
copy_df['IsArrDelayed'] = lbl_encode.fit_transform(copy_df['IsArrDelayed'])
copy_df['IsDepDelayed'] = lbl_encode.fit_transform(copy_df['IsDepDelayed'])

In [8]:
analyze_report = sv.analyze([copy_df, 'DATAFRAME'],target_feat='ArrDelay')
analyze_report.show_html('2nd_analyze.html',open_browser=True)

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=25.0), HTML(value='')), layout=Layout(dis…

Report 2nd_analyze.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Splitting the dataset

In [9]:
X = copy_df.drop(['ArrDelay'],axis=1)
y = copy_df['ArrDelay']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [10]:
compare_report = sv.compare([X_train,'Train'],[X_test,'Test'])
compare_report.show_html('compare.html',open_browser=True)

HBox(children=(FloatProgress(value=0.0, layout=Layout(flex='2'), max=24.0), HTML(value='')), layout=Layout(dis…

Report compare.html was generated! NOTEBOOK/COLAB USERS: the web browser MAY not pop up, regardless, the report IS saved in your notebook/colab files.

# Multiple Linear Regression

In [11]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()
model.fit(X_train,y_train)

y_pred = model.predict(X_test)

In [12]:
df = pd.DataFrame({'Predicted': y_pred,'Actual': y_test})
df

        Predicted  Actual
29145   -0.549303     0.0
13301    3.278892     2.0
14311    4.104969     2.0
32290  -11.084414   -11.0
15562   -6.093834    -7.0
...           ...     ...
26159    8.419358     8.0
7067    15.347961    15.0
16750   12.057600    12.0
35529    2.718110     2.0
42871  119.035960   120.0

[8796 rows x 2 columns]

# Regression Tree

In [16]:
from sklearn.tree import DecisionTreeRegressor

dt = DecisionTreeRegressor(min_samples_leaf=.1,random_state=1)
dt.fit(X_train, y_train)

y_pred_2 = dt.predict(X_test)

# Evaluation of the model

In [20]:
from sklearn.metrics import mean_squared_error, r2_score

test_set_rmse = (np.sqrt(mean_squared_error(y_test, y_pred_2)))
test_set_r2 = r2_score(y_test, y_pred)
test_set_adj_r2 = 1-(1-r2_score(y_test, y_pred))*((len(X_test)-1)/(len(X_test)-len(X_test.columns)-1))

print('Root square mean error is: {}'.format(test_set_rmse))
print('R square is: {}'.format(test_set_r2))
print('R square adjusted is: {}'.format(test_set_adj_r2))

Root square mean error is: 18.870903891875216
R square is: 0.9948128209048087
R square adjusted is: 0.9947992202300265